* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  width: 100%;
  height: 10vh;
  background-color: rgb(173, 172, 172);
  margin-left: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: rgb(10, 248, 137);
  position: fixed;
  top: 0;
}
img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 9px;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  margin-right: 300px;
  font-family: "Times New Roman", Times, serif;
}